<section class="rentals-new">
  <div class="container text-center">
    <h2>Booking Details</h2>
  </div>
  
  <div class="form form-wrapper">
    <p>Please select starting and ending date for your booking</p>

    <%= simple_form_for [@item, @rental] do |f| %>
      <%# f.input :starts_at, as: :string, required: false, input_html: {class: "datepicker"}, label: "Dates:"%>
      <div class="form-group string optional rental_starts_at">
        <label class="form-control-label string optional" for="rental_starts_at">Dates:</label>
        <input class="form-control string optional datepicker flatpickr-input active" type="text" name="rental[daterange]" id="rental_starts_at" />
      </div>

      <%# <%= f.input :ends_at, as: :string, required: false, input_html: {class: "datepicker"}, label: "Until:"%>
      <%= f.button :submit, "Book", class: "btn btn-primary" %>
    <% end %>
  </div>
</section>
