.item-container {
  @media (min-width: 768px) {
      display: flex;
  }

  justify-content: center;
  padding: 5vw;
  margin-right: 5px;
}

.item-title {
  font-size: 3rem;
}

.item-description {
  margin-left: 2vw;
  max-width: 40em;
}

.item-details {
  & dd {
    margin-bottom: 2rem;
  }
}

.item-photo {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 30vw;
  background-position: center;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);

  @media (min-width: 768px) {
    max-width: 30vw;
  } 
}
